.btn {
    background-color: var(--color-white);
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    
    &:hover {
        cursor: pointer;
    }
    
    &.theme {
        box-shadow: -2px 2px 0px 1px rgb(0, 119, 26);
        
    
        &:active {
            box-shadow: inset -2px 2px 0px 1px rgb(0, 119, 26);
            & {
                transform: translate(-2px, 2px);
            }
        } 
    }
    
}

