.board {
    position: fixed;
    background-color: var(--color-white);
    border-radius: 12px;
    box-shadow: -2px 2px 0px 1px rgb(0, 119, 26);
    padding: 8px;
    min-width: fit-content;
    min-height: fit-content;

    .title {

    }

    .title-input {
        
    }
}