.sidebar {
    height: 100%;
    background-color: var(--color-green);
    display: flex;
    flex-direction: column;
    max-width:350px;
    padding: 12px;  
    gap: 12px;
    border-top-right-radius: 12px;
    color: var(--color-white);

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .add-board {
            padding: 8px;
            border: none;
            background-color: var(--color-white);
            border-radius: 12px;
            box-shadow: -2px 2px 0px 1px rgb(0, 119, 26);

            &:hover {
                cursor: pointer;
            }
            &:active {
                box-shadow: inset -2px 2px 0px 1px rgb(0, 119, 26);
                h6 {
                    transform:translate(-2px, 2px);
                }
            } 

        }
    }
    
}